@tailwind base;
@tailwind components;
@tailwind utilities;


.Stop{
    align-items: center;
}

/* .NAV{
    left: 101px;
    z-index: 1;
    position: fixed;
    width: 1270px;
}

.Vertical{
    top:0px;
    width: 100px;
    left:0px;
    height: 768px;
    z-index: 1;
    position: fixed;
} */